# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

#############
## Project Ignores
#############
*.ncrunchsolution
*.ncrunchproject
*.ncrunchproject
*.orig
.ab/*
.ab
*.ipa
*.apk
/node_modules
/chrome
/desktop
/tmp
/build
platforms/
plugins/
www/lib
www/assets
www/build
www/index.html
.sourcemaps/
/www
.vscode
.npmrc
src/app/layouts/shared/horizontalnavbar/dist/menu.js
src/app/layouts/shared/sidebar/dist/menu.js
.env
/.angular
