<div class="contentBg">
  <div>
    <ion-card lot="fixed" class="driverCard fixed ion-no-margin ion-no-padding" color="primary">
      <ion-item lines="none" class="ion-padding-vertical">
        <div class="driverProfileImage">
          <ion-avatar slot="start" class="profile">
            <img src="" [src]="" onerror="this.onerror=null;this.src='assets/images/defaultProfile.png';" />
          </ion-avatar>
          <div class="ion-margin-start">
            <h3 class="userName ion-no-margin">{{ auth?.user?.fullName }}</h3>
            <span class="userDetails">
              {{ auth?.user?.departmentName }}
            </span>
          </div>
        </div>
      </ion-item>

      <ion-card-content class="ion-no-margin ion-no-padding">
        <div class="cardContent">
          <div class="driverDetails">
            <ion-icon name="person" class="driverStatusIcons"></ion-icon>
            <ion-label class="textColor textBold detailsLabel">0</ion-label>
            <p class="detailText ion-text-uppercase">Personnel</p>
          </div>
          <div class="driverDetails">
            <ion-icon name="car" class="driverStatusIcons"></ion-icon>
            <ion-label class="textColor textBold detailsLabel ion-text-uppercase">0</ion-label>
            <p class="detailText ion-text-uppercase">Units</p>
          </div>
          <div class="driverDetails">
            <ion-icon name="megaphone" class="driverStatusIcons"></ion-icon>
            <ion-label class="textColor textBold detailsLabel">0</ion-label>
            <p class="detailText ion-text-uppercase">Calls</p>
          </div>
        </div>

      </ion-card-content>
    </ion-card>
  </div>
  <ion-list lines="none" class="ion-padding-top">
    <ion-menu-toggle auto-hide="false" *ngFor="let item of appPages">
      <ion-item>
        <ion-icon slot="start" [name]="item.icon" [ngClass]="{'active':item.active}"></ion-icon>
        <ion-label [ngClass]="{'active':item.active}">
          {{item.title}}
        </ion-label>
      </ion-item>
    </ion-menu-toggle>
  </ion-list>
</div>