notifying {
    &.ion-page {
        display: flex;
        justify-content: center;
        contain: strict;
        align-items: center;
        z-index: 10000;
    }
    .backdrop {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        display: block;
        width: 100%;
        height: 100%;
        background-color: map-get($colorsnotify, backdrop);
        opacity: 0.3;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
    .notify-wrapper {
        display: flex;
        flex-direction: column;
        min-width: 250px;
        max-height: 90%;
        contain: content;
        overflow: hidden;
        max-width: 270px;
        border-radius: 4px;
        background-color: map-get($colorsnotify, wrapper);
        box-shadow: none;
        opacity: 1;
        text-align: center;
        z-index: 10;
        transform: scale(1);
        .wrapper {
            .info-wrapper {
                padding: 0 0 15px 0;
                h2 {
                    color: map-get($colorsnotify, text);
                    font-size: 16px;
                    font-weight: 500;
                }
                p {
                    color: lighten(map-get($colorsnotify, text),10%);
                    display: block;
                    width: 100%;
                }
            }
            .only-button {
                .btn-ok {
                    background-color: map-get($colorsnotify, success);
                    &.activated {
                        background-color: darken(map-get($colorsnotify, success),10%);
                    }
                }
            }
            .two-buttons {
                ion-buttons {
                    display: inline-block;
                    margin: 0;
                    width: 49%;
                    .btn-ok {
                        background-color: map-get($colorsnotify, success);
                        &.activated {
                            background-color: darken(map-get($colorsnotify, success),10%);
                        }
                    }
                    .btn-cancel {
                        background-color: map-get($colorsnotify, cancel);
                        &.activated {
                            background-color: darken(map-get($colorsnotify, cancel),10%);
                        }
                    }
                }
            }
        }
        &[data-type="success"] {
            @extend .wrapper;
            .two-buttons {
                display: none;
            }
        }
        &[data-type="error"] {
            @extend .wrapper;
            .only-button {
                .btn-ok {
                    background-color: map-get($colorsnotify, cancel);
                    &.activated {
                        background-color: darken(map-get($colorsnotify, cancel),10%);
                    }
                }
            }
            .two-buttons {
                display: none;
            }
        }
        &[data-type="info"] {
            @extend .wrapper;
            .only-button {
                .btn-ok {
                    background-color: map-get($colorsnotify, info);
                    &.activated {
                        background-color: darken(map-get($colorsnotify, info),10%);
                    }
                }
            }
            .two-buttons {
                display: none;
            }
        }
        &[data-type="confirm"] {
            @extend .wrapper;
            .only-button {
                display: none;
            }
        }
    }
}