<!--
styles file -> pages/notifying/notifying.scss
(*) assigned classes
-->
<!-- *class backdrop / background color -->
<div class="backdrop"></div>
<!-- *class notify-wrapper / content -->
<!-- attr.data-type / Attribute created to manipulate buttons in default notifications(success,error,info,confirm), by means of sass -->
<div class="notify-wrapper" attr.data-type="{{type}}">
    <ion-navbar *navbar>
        <ion-title>{{title}}</ion-title>
    </ion-navbar>
    <!-- *class wrapper / content -->
    <div padding class="wrapper">
        <!-- *class info-wrapper / content -->
        <div class="info-wrapper">
            <!-- Validations to load the default images of notifications -->
            <img *ngIf="type=='success'" src="assets/images/success.png">
            <img *ngIf="type=='error'" src="assets/images/error.png">
            <img *ngIf="type=='info'" src="assets/images/info.png">
            <img *ngIf="type=='confirm'" src="assets/images/confirm.png">
            <img *ngIf="type=='custom'" [src]="'assets/images/'+ image +''">
            <h2>{{title}}</h2>
            <p>{{message}}</p>
        </div>
        <!-- *class only-button / Container of 1 button for notifications type success, error, info -->
        <div class="only-button" *ngIf="type!='custom'">
            <ion-buttons>
                <!-- *class btn-ok / Button color for notification -->
                <button ion-button block class="btn-ok" (click)="isConfirm()">
                  {{textOk}}
                </button>
            </ion-buttons>
        </div>
        <!-- *class two-buttons / Container of 2 buttons for notification type confirm -->
        <div class="two-buttons" *ngIf="type!='custom'">
            <ion-buttons>
                <!-- *class btn-ok / Button color for notification -->
                <button ion-button block class="btn-ok" (click)="isConfirm()">
                  {{textOk}}
                </button>
            </ion-buttons>
            <ion-buttons>
                <!-- *class btn-cancel / Button color for notification -->
                <button ion-button block class="btn-cancel" (click)="isCancel()">
                  {{textCancel}}
                </button>
            </ion-buttons>
        </div>
        <!-- *class only-button / Container of 1 button for notification type custom -->
        <div class="only-button" *ngIf="type=='custom' && buttons=='1'">
            <ion-buttons>
                <!-- *class btn-ok / Button color for notification -->
                <button ion-button block class="btn-ok" (click)="isConfirm()">
                  {{textOk}}
                </button>
            </ion-buttons>
        </div>
        <!-- *class two-buttons / Container of 2 buttons for notification type custom -->
        <div class="two-buttons" *ngIf="type=='custom' && buttons=='2'">
            <ion-buttons>
                <!-- *class btn-ok / Button color for notification -->
                <button ion-button block class="btn-ok" (click)="isConfirm()">
                  {{textOk}}
                </button>
            </ion-buttons>
            <ion-buttons>
                <!-- *class btn-cancel / Button color for notification -->
                <button ion-button block class="btn-cancel" (click)="isCancel()">
                  {{textCancel}}
                </button>
            </ion-buttons>
        </div>
    </div>
</div>