<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Dashboard
    </ion-title>
    <ion-buttons slot="end">
			<ion-button color="primary">
				New Call
			</ion-button>
		</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="height: 100%; display: flex; flex-flow: column;">
    <ion-row style="flex-grow: 1;">
      <ion-col size="4">
        <app-units-list [state]="homeState$ | async"></app-units-list>
      </ion-col>
      <ion-col class="no-padding">
        <ion-row>
          <ion-col>
            <app-digital-clock></app-digital-clock>
          </ion-col>
          <ion-col>
            test1
            <div style="width:100%;height: 150px;">
              test
              <app-map></app-map>
            </div>
          </ion-col>
        </ion-row>
        <ion-row style="height: 90%;">
          <ion-col size="12">
            <app-calls-list [state]="homeState$ | async"></app-calls-list>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>