<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Dashboard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <app-units-list></app-units-list>
      </ion-col>
      <ion-col class="no-padding">
        <ion-row>
          <ion-col>
            <ion-button expand="full"></ion-button>
          </ion-col>
          <ion-col>
            <app-digital-clock></app-digital-clock>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <app-calls-list></app-calls-list>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>