.main{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
ion-card{
  --background: #fff;
  box-shadow: none;
  -webkit-box-shadow:none;
}
@media screen and (min-width:768px){
  ion-card{
      width: 500px;
      margin: auto;
  }
}
.input {
  background-color: rgb(240, 240, 240);
  border: 1px solid #a2a2a2;
  border-radius: 9px;
  font-size: .9em !important;
}
.white{
  color: white;
}

.small {
  font-size: 13px;
  a{
      text-decoration: unset !important;
  }
}
.button-color {
  background-color : var(--ion-color-mytheme);
}
.logo {
  width: 1.25em !important;
}
.grid{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.row{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.img-logo{
  width: 286px;
}
.fire-logo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  ion-text{
      padding: 10px;
  }
}
.btn-transition{
  //background: linear-gradient(to right, #f57c00 14%, #ffca00 96%);
  background: linear-gradient(to right, rgba(2,0,36,1) 0%, rgba(31,138,201,1) 20%, rgba(29,130,192,1) 80%, rgba(0,212,255,1) 100%);
}
.btn-color{
  color:#238CC7;
  --border-radius: 0;
}