/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "assets/animate.css";

:root[mode="ios"] .muli,
:root[mode="md"] .muli {
  --ion-font-family: "Muli" !important;
  font-family: "Muli" !important;
}
:root[mode="ios"] .srisakdi,
:root[mode="md"] .srisakdi {
  --ion-font-family: "Srisakdi" !important;
  font-family: "Srisakdi" !important;
}
:root[mode="ios"] .qranklestein,
:root[mode="md"] .qranklestein {
  --ion-font-family: "Qranklestein" !important;
  font-family: "Qranklestein" !important;
}
@font-face {
  font-family: "Qranklestein";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/Qranklestein.ttf");
}
@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/Muli.ttf");
}
@font-face {
  font-family: "Muli";
  font-style: italic;
  font-weight: normal;
  src: url("./assets/fonts/Muli-Italic.ttf");
}
@font-face {
  font-family: "Muli";
  font-style: italic;
  font-weight: 400;
  src: url("./assets/fonts/Muli-Light-Italic.ttf");
}
@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/Muli-Light.ttf");
}
@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/Muli-SemiBold.ttf");
}
@font-face {
  font-family: "Muli";
  font-style: italic;
  font-weight: 500;
  src: url("./assets/fonts/Muli-Semi-BoldItalic.ttf");
}
@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: bold;
  src: url("./assets/fonts/Muli-Bold.ttf");
}
@font-face {
  font-family: "Muli";
  font-style: italic;
  font-weight: bold;
  src: url("./assets/fonts/Muli-BoldItalic.ttf");
}
@font-face {
  font-family: "Muli";
  font-style: italic;
  font-weight: 100;
  src: url("./assets/fonts/Muli-ExtraLightItalic.ttf");
}
@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 100;
  src: url("./assets/fonts/Muli-ExtraLight.ttf");
}

.searchbar-input {
  border-radius: 25px !important;
  height: 30px !important;
}
.searchbar-search-icon.sc-ion-searchbar-md {
  left: 90% !important;
  top: 6px;
}
.searchbar-clear-button.sc-ion-searchbar-md {
  left: 13px !important;
  right: 0 !important;
}
.searchbar-search-icon.sc-ion-searchbar-ios {
  color: white !important;
  height: 87% !important;
}
ion-item {
  --highlight-color-valid: #ffffff00;
  --inner-border-width: 0px 0px 0px 0px;
  --border-width: 0 0 0px 0;
}
.sc-ion-searchbar-ios-h {
  padding-bottom: 0 !important;
}

.ion-color-d3blue {
  --ion-color-base: #0c96df;
  --ion-color-base-rgb: 12, 150, 223;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #0f80cf;
  --ion-color-tint: #1ba0ec;
}
.ion-color-d4blue {
  --ion-color-base: #37a9d8;
  --ion-color-base-rgb: 12, 150, 223;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #37a9d8;
  --ion-color-tint: #37a9d8;
}
.ion-color-d3green {
  --ion-color-base: #00c06d;
  --ion-color-base-rgb: 0, 192, 109;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #00c06d;
  --ion-color-tint: #00c06d;
}
.ion-color-rose {
  --ion-color-base: #ff7d91;
  --ion-color-base-rgb: 255, 125, 145;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #ff7d91;
  --ion-color-tint: #ff7d91;
}
.ion-color-firebase {
  --ion-color-base: #ffa000;
  --ion-color-base-rgb: 255, 160, 0;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #e69100;
  --ion-color-tint: #ffbe4d;
}

.custom-class {
  height: 100px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
.star-five {
  margin: 50px 0;
  position: relative;
  display: block;
  color: red;
  width: 0px;
  height: 0px;
  border-right: 50px solid transparent;
  border-bottom: 35px solid red;
  border-left: 50px solid transparent;
  -webkit-transform: rotate(35deg);
  transform: scale(0.5) rotate(35deg);
}
.star-five:before {
  border-bottom: 40px solid red;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -26px;
  left: -31px;
  display: block;
  content: "";
  -webkit-transform: rotate(-35deg);
  transform: rotate(-35deg);
}
.star-five:after {
  position: absolute;
  display: block;
  color: red;
  top: 3px;
  left: -50px;
  width: 0px;
  height: 0px;
  border-right: 50px solid transparent;
  border-bottom: 35px solid red;
  border-left: 50px solid transparent;
  -webkit-transform: rotate(-70deg);
  transform: rotate(-70deg);
  content: "";
}
